<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Nebula Pipeline</title>

		<!-- Stylesheets -->
		{% load static %}
		<link type="text/css" href={% static "nebweb/bootstrap/css/bootstrap.css" %} rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,500italic,500,300italic,300' rel='stylesheet' type='text/css'>
		<link type="text/css" href={% static "nebweb/icons/font-awesome/css/all.css" %} rel="stylesheet">
		<link type="text/css" href={% static "nebweb/icons/rondo/style.css" %} rel="stylesheet">
		<link type="text/css" href={% static "nebweb/css/theme.css" %} rel="stylesheet">
	</head>

	<body>
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
                <img class="modal-content" id="img01">
            <a target="_blank" href="https://prezi.com/embed/xvucso-vmk6g/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;landing_data=bHVZZmNaNDBIWnNjdEVENDRhZDFNZGNIUE43MHdLNWpsdFJLb2ZHanI0VTRKblRleUsvU1UvSjlxOFRSTkY0R2JnPT0&amp;landing_sign=vDXL1B0itul7Ey0BnnTKTPpxrq45EujVjP_dbB0B9Es"
            class="go-to-presentation">Go to Presentation</a>
        </div>
		<header class="header" id="jump">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                	<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
							<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"><img src={% static "nebweb/images/Logo.png" %} alt="" /></a>
					</div>
					<div class="collapse navbar-collapse hidden-xs">
						<ul id="navig" class="nav navbar-nav navbar-right">
							<li class="active active-item">
								<a href="#jump0">Home</a>
							</li>
							<li>
								<a href="#jump1">Pipeline</a>
							</li>
							<li>
								<a href="#jump2">Solution</a>
							</li>
							<li>
								<a href="#jump3">Pricing</a>
							</li>
							<li>
								<a href="#jump5">Testimonials</a>
							</li>
							<li>
								<a href="#jump6">Contact</a>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->

					<div class="collapse navbar-responsive-collapse">
						<ul id="navig" class="nav navbar-nav">
							<li class="active active-item">
								<a href="#jump0" data-toggle="collapse" data-target=".navbar-responsive-collapse">Home</a>
							</li>
							<li>
								<a href="#jump1" data-toggle="collapse" data-target=".navbar-responsive-collapse">Pipeline</a>
							</li>
							<li>
								<a href="#jump2" data-toggle="collapse" data-target=".navbar-responsive-collapse">Solution</a>
							</li>
							<li>
								<a href="#jump3" data-toggle="collapse" data-target=".navbar-responsive-collapse">Pricing</a>
							</li>
							<li>
								<a href="#jump5" data-toggle="collapse" data-target=".navbar-responsive-collapse">Testimonials</a>
							</li>
							<li>
								<a href="#jump6" data-toggle="collapse" data-target=".navbar-responsive-collapse">Contact</a>
							</li>
						</ul>
					</div>
					<!-- /.navbar-responsive-collapse -->
				</div>
			</nav>
		</header>

        <div class="jumper" id="jump0"></div>
		<div class="section type-1 big splash">
			<div class="container">
				<div class="splash-block">
					<div class="centered">
						<div class="container">
							<div class="section-headlines">
								<h1>Nebula Pipeline</h1>
								<p>
									Enabling artists to focus entirely on creativity
								</p>
							</div>
							<a href="#jump2" class="btn btn-outline btn-lg"> Our Solution </a> &nbsp; <a href="#jump6" class="btn btn-outline btn-lg"> Get in touch </a>
						</div>
						<br />
						<a target="_blank" style="text-decoration: none; color: white;" href="https://www.youtube.com/watch?v=LNONB_t3EMM">
									Watch a quick video...
						</a>
					</div>
				</div>
			</div>
		</div>

		<div id="jump1" class="jumper"></div>
		<!-- Services -->
		<div class="section type-2">
			<div class="container">
				<div class="section-headlines">
					<h4>Pipeline</h4>
					<div>
						<b>We develop technology for supporting creation of compelling visual art. Studios utilize our software to increase their efficiency and productivity, enabling them to focus on quality.</b>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 features text-center">
			            <img id="myImg" src={% static "nebweb//images/pipeline.png" %} alt="Pipeline">
					</div>

					<div class="col-lg-6 features">
						<div class="media">
							<i class="fas fa-file pull-left animated bounce"></i>
							<div class="media-body">
								<h3>Asset Management</h3>
								<div>
									Saving, retrieving and versioning assets from single interface
								</div>
							</div>
						</div>
						<div class="gap-5" > </div>
						<div class="media">
							<i class=" fas fa-cogs pull-left animated bounce"></i>
							<div class="media-body">
								<h3>Automation</h3>
								<div>
									Automation of repetitive tasks
								</div>
							</div>
						</div>
						<div class="gap-5" > </div>
						<div class="media">
							<i class=" fas fa-hammer pull-left animated bounce"></i>
							<div class="media-body">
								<h3>Bespoke tools</h3>
								<div>
									Quick bespoke scripts for tasks that would take longer to perform by hand
								</div>
							</div>
						</div>
						<div class="gap-5" > </div>
						<div class="media">
							<i class=" fas fa-wrench pull-left animated bounce"></i>
							<div class="media-body">
								<h3>Technical support</h3>
								<div>
									Technical support for pipeline and DCC applications
								</div>
							</div>
						</div>
						<div class="visible-xs visible-sm">
							<div class="gap-15" > </div>
							<hr class="gap-divider" />
							<div class="gap-15" > </div>
						</div>
					</div>
				</div>
				<br>
				<br>
				<br>
				<div class="row">
                    <h3 class="col-lg-4">Our Skills</h3>
                </div>
                <div class="row">
                    <hr>
                </div>
                <div class="row">
					<div class="col-lg-4 features">

						<div class="skills">
							<p>
                                <img class="icon" src={% static "nebweb/images/icon-maya.png" %} alt="Maya" >
								Maya Development
							</p>
							<div class="progress">
								<div class="progress-bar" style="width: 95%;"></div>
							</div>
							<p>
                                <img class="icon" src={% static "nebweb/images/icon-nuke.jpg" %} alt="Nuke" >
								Nuke Development
							</p>
							<div class="progress">
								<div class="progress-bar progress-bar-success" style="width: 90%;"></div>
							</div>
							<p>
                                <img class="icon" src={% static "nebweb/images/icon-deadline.jpg" %} alt="Deadline" >
								Deadline Development
							</p>
							<div class="progress">
								<div class="progress-bar progress-bar-warning" style="width: 90%;"></div>
							</div>
							<p>
                                <img class="icon" src={% static "nebweb/images/icon-desktop.png" %} alt="Desktop" >
								Desktop and Web Development
							</p>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" style="width: 80%;"></div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 features">
						<div class="panel-group" id="accordion">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> Artist friendly approach <i class="more-less fas fa-minus"></i> </a></h3>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in">
									<div class="panel-body">
										Working with different types of artists, we understand that not all artists understand the technicalities of the DCC applications. Such as the areas with the possibility of automation.
										<br/>
										<br/>
										Keeping that in mind, we make sure to communicate with them in a way, that, we get maximum information about the needs of such artists to increase their productivity.
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> Deep understanding of pipeline <i class="more-less fas fa-plus"></i> </a></h3>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse">
									<div class="panel-body">
										We got in touch with CG pipeline back in 2012, since then, we made sure to understand every stage of a it which involves communication with senior artists and detailed study of pipeline.
										<br/>
										<br/>
                                        With deep understanding of pipeline, we take challenges to make it efficient enough to support the creation of quality art and deliver projects within deadlines
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> Problem solving <i class="more-less fas fa-plus"></i> </a></h3>
								</div>
								<div id="collapseThree" class="panel-collapse collapse">
									<div class="panel-body">
                                        We believe, artists face different challenges and technical problems in every different project. It's our responsibility to make sure to take care of such challenges and technical problems to enable artists to focus on creativity.
									</div>
								</div>
							</div>
						</div>
						<div class="visible-xs visible-sm">
							<br class="gap-30" />
							<hr class="gap-divider" />
							<br class="gap-30" />
						</div>
					</div>
					<div class="col-lg-4 features">
						<h3>Get To Know Us</h3>
						<p>
							Our love for compelling art keeps us motivated to help artists create such art withoud facing any technical problems. We are working as a pipeline team in the CG industry since 2012, gaining deep understanding of it. Taking challenges to convert artist and department needs in to working tools for maximum productivity and efficiency is what we do. To make life easier for artists, allowing them to entirely focus on creativity by taking care of technical problems.
						</p>
						<p>
							Watching such art on the screens, which we were part of, in some way, makes us happy.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div id="jump2" class="jumper"></div>
		<!-- Featured Work -->
		<div class="section type-1" style="padding-bottom: 0">
			<div class="container">
				<div class="section-headlines">
					<h4>Solution</h4>
					<h2>Tools that power studios to achieve more</h2>
					<div>
						Our custom tailored tools for DCC applications connect different departments in a studio to form a well defined pipeline. Departments produce and consume artifacts through these tools. Additionally, workflow tools allow artists to perform tasks with few clicks, that would take longer to perform by hand.
					</div>
				</div>
				<div class="gallery-control">
					<div data-toggle="buttons">
                        <!--
						<label class="btn btn-outline filter" data-filter="production assets animation images compositing">
							<input type="radio" name="options" id="option1">
							All </label>
                        -->
						<label class="btn btn-outline filter active" data-filter="production">
							<input type="radio" name="options" id="option2">
							Production </label>
						<label class="btn btn-outline filter" data-filter="assets">
							<input type="radio" name="options" id="option3">
							Assets </label>
						<label class="btn btn-outline filter" data-filter="animation">
							<input type="radio" name="options" id="option4">
							Animation </label>
                        <label class="btn btn-outline filter" data-filter="lighting">
							<input type="radio" name="options" id="option5">
							Lighting </label>
                        <label class="btn btn-outline filter" data-filter="compositing">
							<input type="radio" name="options" id="option6">
							Compositing </label>
					</div>
				</div>
			</div>
			<div class="mixitup">
				<ul id="Grid" class="unstyled">
                    <li class="mix production">
						<div>
							<div class="media-thumb">
								<img src={% static "nebweb/images/portfolio/sequence-planner.png" %}>
								<div class="media-desc">
									<div>
										<p>
											<b>Sequence Planner</b>
										</p>
										<div>
											Allows production coordinator to populate assets in each sequence
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="mix production">
						<div>
							<div class="media-thumb">
								<img src={% static "nebweb/images/portfolio/asset-list.png" %}>
								<div class="media-desc">
									<div>
										<p>
											<b>Asset List</b>
										</p>
										<div>
											Allows production coordinator to populate a list of assets in the database
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="mix production">
						<div>
							<div class="media-thumb">
								<img src={% static "nebweb/images/portfolio/episode-planner.png" %}>
								<div class="media-desc">
									<div>
										<p>
											<b>Episode Planner</b>
										</p>
										<div>
											Populates list of Sequences and Shots in the database
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
                    <li class="mix assets">
						<div>
							<div class="media-thumb">
								<img src={% static "nebweb/images/portfolio/shader-transfer.png" %}>
								<div class="media-desc">
									<div>
										<p>
											<b>Shader Transfer</b>
										</p>
										<div>
											Allows artists to transfer shaders from source mesh to multiple target meshes
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="mix assets">
						<div>
							<div class="media-thumb">
								<img src={% static "nebweb/images/portfolio/asset-explorer.png" %}>
								<div class="media-desc">
									<div>
										<p>
											<b>Asset Explorer</b>
										</p>
										<div>
											Allows artists in Modeling, Rigging and Look Dev to save, retrieve and publish assets
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
                    <li class="mix assets">
						<div>
							<div class="media-thumb">
								<img src={% static "nebweb/images/portfolio/proxy-cache-switch.png" %}>
								<div class="media-desc">
									<div>
										<p>
											<b>Proxy Cache Switch</b>
										</p>
										<div>
											Enables artists to convert between proxies and gpu caches, load proxy/cache from different location and many more operations
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
                    <li class="mix assets">
						<div>
							<div class="media-thumb">
								<img src={% static "nebweb/images/portfolio/remap-tex.png" %}>
								<div class="media-desc">
									<div>
										<p>
											<b>Remap Tex</b>
										</p>
										<div>
											Allows lighting artists to see all the textures in the scene on one interface and load them from a different location if needed
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="mix animation">
						<div>
							<div class="media-thumb">
								<img src={% static "nebweb/images/portfolio/multishot-export.png" %}>
								<div class="media-desc">
									<div>
										<p>
											<b>Multishot Export</b>
										</p>
										<div>
                                            Enables animators to export playblast, geometry cache and preview with single click
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="mix animation">
						<div>
							<div class="media-thumb">
								<img src={% static "nebweb/images/portfolio/create-layout.png" %}>
								<div class="media-desc">
									<div>
										<p>
											<b>Create Layout</b>
										</p>
										<div>
											Enables layout artists to populate shots assets, generate and save layout files
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
                    <li class="mix animation">
						<div>
							<div class="media-thumb">
								<img src={% static "nebweb/images/portfolio/moctor.png" %}>
								<div class="media-desc">
									<div>
										<p>
											<b>Mocap To Rig</b>
										</p>
										<div>
											Enables animators to apply mocap data to rig
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
                    <li class="mix lighting">
						<div>
							<div class="media-thumb">
								<img src={% static "nebweb/images/portfolio/frame-checker.png" %}>
								<div class="media-desc">
									<div>
										<p>
											<b>Frame Checker</b>
										</p>
										<div>
											Allows lighting artists to see the missing and bad frames from render output
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
                    <li class="mix lighting">
						<div>
							<div class="media-thumb">
								<img src={% static "nebweb/images/portfolio/add-assets.png" %}>
								<div class="media-desc">
									<div>
										<p>
											<b>Add Assets</b>
										</p>
										<div>
											Enables lighting artists to add sequence assets to the scene
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
                    <li class="mix lighting">
						<div>
							<div class="media-thumb">
								<img src={% static "nebweb/images/portfolio/matte-ids.png" %}>
								<div class="media-desc">
									<div>
										<p>
											<b>Matte Ids</b>
										</p>
										<div>
											Allows lighting artists to assign render passes ids by drag and drop
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
                    <li class="mix lighting">
						<div>
							<div class="media-thumb">
								<img src={% static "nebweb/images/portfolio/create-shots.png" %}>
								<div class="media-desc">
									<div>
										<p>
											<b>Create Shots</b>
										</p>
										<div>
											Allows lighting artsis to apply geometry cache to assets and generate shot files
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="mix lighting">
						<div>
							<div class="media-thumb">
								<img src={% static "nebweb/images/portfolio/setup-master-scene.png" %}>
								<div class="media-desc">
									<div>
										<p>
											<b>Setup Master Scene</b>
										</p>
										<div>
											Allows lighting artists to generate render layers and render passes with single click
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="mix lighting">
						<div>
							<div class="media-thumb">
								<img src={% static "nebweb/images/portfolio/scene-bundle.png" %}>
								<div class="media-desc">
									<div>
										<p>
											<b>Scene Bundle</b>
										</p>
										<div>
											Allows lighting artists to submit a self contained shot file to deadline
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
                    <li class="mix lighting">
						<div>
							<div class="media-thumb">
								<img src={% static "nebweb/images/portfolio/pre-cc.png" %}>
								<div class="media-desc">
									<div>
										<p>
											<b>Pre CC</b>
										</p>
										<div>
											generates movie file from render outputs
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
                    <li class="mix compositing">
						<div>
							<div class="media-thumb">
								<img src={% static "nebweb/images/portfolio/backdrop-tool.png" %}>
								<div class="media-desc">
									<div>
										<p>
											<b>Backdrop Tool</b>
										</p>
										<div>
											Enables compositing artists to generate comps for next shots from one shot
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!--end:.mixitup-->

		</div>

		<!-- Stats  -->
		<div class="section type-3 stats">
			<div class="section-headlines">
				<h4>Achievements</h4>
			</div>
			<div class="container">
				<div class="row ">

					<div class="col-sm-4 col-xs-12">
						<h3><i class="fas fa-anchor"></i> 42 projects delivered </h3>
						<p>
							Studios delivered more than 42 projects while using our pipeline tools
						</p>
					</div>
					<div class="col-sm-4 col-xs-12">
						<h3><i class="fas fa-code"></i> 1 million lines of code</h3>
						<p>
							Since 2012, we are involved in software development and the number of lines of code is HUGE
						</p>
					</div>
					<div class="col-sm-4 col-xs-12">
						<h3><i class="fas fa-hammer"></i> 36 pipeline tools</h3>
						<p>
							There are more than 3 dozens of tools, which constitute the pipeline and some workflow tools as well
						</p>
					</div>
				</div>
			</div>
		</div>

		<div id="jump3" class="jumper"></div>
		<!-- Pricing -->
		<div class="section type-2">
			<div class="container">
				<div class="section-headlines">
					<h4>Pricing Plans</h4>
					<h2>Our Pricing Packages</h2>
					<div>
						When it comes to pricing, we offer flexible pricing packages. We know that for different studios the needs are different. Some need specific tools and some need all of them. Therefore there are three pricing packages to choose from
					</div>
				</div>
				<div class="pricing-plans row">
					<div class="col-lg-4">
						<div class="plan radius3">
							<div class="plan-name">
								<h2>
                                    Basic
                                    <br>

								<div class="plan-price">
									<span class="font-medium" style="margin-right: 5px;">Starting at</span><b>$20</b> / month
								</div></h2>
							</div>
							<div class="plan-details">
								<div>
									<b>Choose</b> tools that you need &nbsp; <span class="icon-ok text-success pull-right"></span>
								</div>
								<div>
									<b>Unsubscribe</b> anytime  &nbsp; <span class="icon-asterisk text-danger pull-right"></span>
								</div>
								<div>
									<b>Monthly</b> tool updates  &nbsp; <span class="icon-ok  text-success pull-right"></span>
								</div>
								<div>
									<b>Unlimited</b> support for tools  &nbsp; <span class="icon-ok  text-success pull-right"></span>
								</div>

							</div>
							<div class="plan-action">
								<a href="#jump6" class="btn btn-inverse btn-block btn-large">Buy</a>
							</div>
						</div>
						<div class="visible-xs visible-sm">
							<br class="gap-30" />
							<hr class="gap-divider" />
							<br class="gap-30" />
						</div>
					</div>
					<div class="col-lg-4">
						<div class="plan plan-featured radius3">
							<div class="plan-name">
								<h2>Premium
								<div class="plan-price">
									<b>$200</b> / month
								</div></h2>
							</div>
							<div class="plan-details">
								<div>
									<b>Use</b> all tools &nbsp; <span class="icon-ok text-success pull-right"></span>
								</div>
								<div>
									<b>Unsubscribe</b> anytime  &nbsp; <span class="icon-asterisk text-danger pull-right"></span>
								</div>
								<div>
									<b>Monthly</b> tool updates  &nbsp; <span class="icon-ok  text-success pull-right"></span>
								</div>
								<div>
									<b>Unlimited</b> support for tools  &nbsp; <span class="icon-ok  text-success pull-right"></span>
								</div>
							</div>
							<div class="plan-action">
								<a href="#jump6" class="btn btn-success btn-block btn-large">Buy</a>
							</div>
						</div>
						<div class="visible-xs visible-sm">
							<br class="gap-30" />
							<hr class="gap-divider" />
							<br class="gap-30" />
						</div>
					</div>
					<div class="col-lg-4">
						<div class="plan radius3">
							<div class="plan-name">
								<h2>
                                    Super
								<div class="plan-price">
									<b>$250</b> / month
								</div></h2>
							</div>
							<div class="plan-details">
								<div>
									<b>Use</b> all tools &nbsp; <span class="icon-ok text-success pull-right"></span>
								</div>
								<div>
									<b>Unsubscribe</b> anytime  &nbsp; <span class="icon-asterisk text-danger pull-right"></span>
								</div>
								<div>
									<b>Monthly</b> tool updates  &nbsp; <span class="icon-ok  text-success pull-right"></span>
								</div>
								<div>
									<b>Unlimited</b> support for tools + Technical Problems  &nbsp; <span class="icon-ok  text-success pull-right"></span>
								</div>
							</div>
							<div class="plan-action">
								<a href="#jump6" class="btn btn-inverse btn-block btn-large">Buy</a>
							</div>
						</div>
						<div class="visible-xs visible-sm">
							<br class="gap-30" />
							<hr class="gap-divider" />
							<br class="gap-30" />
						</div>
					</div>
				</div>
				<!--end:.pricing-table-->

			</div>
		</div>

		<div id="jump4" class="jumper"></div>

		<!-- Team -->
        <!--
		<div class="section type-3">
			<div class="container">
				<div class="section-headlines">
					<h4>Our Team</h4>
					<h2>We are a small team with lots of friends!</h2>
					<div>
						It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="team_item">
							<div class="img_block"><img alt="" src={% static "images/team/1.jpg" %}>
							</div>
							<div class="team_body">
								<h5>John Donga</h5>
								<h6>Product Manager</h6>
								<p>
									Lorem ipsum dolor a sit eget amet, consectetur adipiscing elit in sit amet aliquet odio, nec vehicula.
								</p>
								<a title="Facebook" href="javascript:void(0);"><i class="fab fa-facebook fa-2x"></i></a> &nbsp;&nbsp; <a title="Twitter" href="javascript:void(0);"><i class=" fab fa-twitter fa-2x"></i></a>&nbsp;&nbsp; <a title="Pinterest" href="javascript:void(0);"><i class="fab fa-pinterest fa-2x"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="team_item">
							<div class="img_block"><img alt="" src={% static "images/team/2.jpg" %}>
							</div>
							<div class="team_body">
								<h5>Alexander Jr.</h5>
								<h6>Senior Developer</h6>
								<p>
									Lorem ipsum dolor a sit eget amet, consectetur adipiscing elit in sit amet aliquet odio, nec vehicula.
								</p>
								<a title="Facebook" href="javascript:void(0);"><i class="fab fa-facebook fa-2x"></i></a> &nbsp;&nbsp; <a title="Twitter" href="javascript:void(0);"><i class=" fab fa-twitter fa-2x"></i></a>&nbsp;&nbsp; <a title="Pinterest" href="javascript:void(0);"><i class="fab fa-pinterest fa-2x"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="team_item">
							<div class="img_block"><img alt="" src={% static "images/team/3.jpg" %}>
							</div>
							<div class="team_body">
								<h5>John Donga</h5>
								<h6>Creative Head</h6>
								<p>
									Lorem ipsum dolor a sit eget amet, consectetur adipiscing elit in sit amet aliquet odio, nec vehicula.
								</p>
								<a title="Facebook" href="javascript:void(0);"><i class="fab fa-facebook fa-2x"></i></a> &nbsp;&nbsp; <a title="Twitter" href="javascript:void(0);"><i class=" fab fa-twitter fa-2x"></i></a>&nbsp;&nbsp; <a title="Pinterest" href="javascript:void(0);"><i class="fab fa-pinterest fa-2x"></i></a>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
    -->

		<div id="jump5" class="jumper"></div>
		<!-- Testimonials -->
		<div class="section type-2">
			<div class="container">
				<div class="section-headlines">
					<h4>Testimonials</h4>
					<h2>Read our clients talking about us!</h2>
					<div>
						We worked on software developement for multiple studios accross the country.
					</div>
				</div>
				<div id="carousel-testimonial" class="carousel slide bs-docs-carousel-example">
					<ol class="carousel-indicators">
						<li data-target="#carousel-testimonial" data-slide-to="0" class=""></li>
						<li data-target="#carousel-testimonial" data-slide-to="1" class=""></li>
						<li data-target="#carousel-testimonial" data-slide-to="2" class=""></li>
					</ol>
					<div class="carousel-inner">
						<div class="item active">
							<div class="testimonial media">
								<div class="testimonial-avatar pull-right hidden-xs	">
									<img src={% static "nebweb/images/avatar/avatar-2.jpg" %} class="avatar size-default img-circle">
								</div>
								<div class="testimonial-content media-body">
									<p class="lead">
										Everything in our studios was done manually till 2012, from saving assets to generating final renders. There was no automation of repetitive tasks inisde or outside DCC application. Artists used to interact with Operating System folders and files to deliver the content. This manual process reduced the productivity of artists significantly, which was a bottleneck in delivering our projects on time.
                                        Thanks to Nebula Pipeline, which we deployed in  july 2012, we were surprised to see that, our artists didn't have to do anything manually, from the process of saving and retrieving assets to rendering images, everything was automated.
									</p>
									CEO ICE Animations - <b>Muhammad Bilal</b>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimonial media">
								<div class="testimonial-avatar pull-right hidden-xs	">
									<img src={% static "nebweb/images/avatar/avatar-4.jpg" %} class="avatar size-default img-circle">
								</div>
								<div class="testimonial-content media-body">
									<p class="lead">
										When we decided to setup our studios, we consulted with Nebual Pipeline team, to setup the pipeline and tools as well. We believed that setting up pipeline and automation tools would be important because we had a small team of artists but the work needed to be done was huge.
                                        Doing big things with small teams is never easy. Thanks to Nebula Pipeline, which automated manual tasks and offered efficient management of assets, helping us create more art work with small team. Which wouldn't have been possible without Nebula Pipeline.
									</p>
									Founder Express Studios - <b>Ali Ahsan</b>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-controller btn-group">
						<a class="btn btn-xs btn-inverse" href="#carousel-testimonial" data-slide="prev"> <i class="fas fa-angle-left"></i> </a><a class="btn btn-xs btn-inverse" href="#carousel-testimonial" data-slide="next"> <i class="fas fa-angle-right"></i> </a>
					</div>
				</div>
			</div>
		</div>
        <!--
		<section id="clients">

			<div class="container">
				<div class="row">
					<div class="col-lg-2"><img src={% static "images/clients/partner1-150x100.png" %} alt="" />
					</div>
					<div class="col-lg-2"><img src={% static "images/clients/partner2.png" %} alt="" />
					</div>
					<div class="col-lg-2"><img src={% static "images/clients/partner3.png" %} alt="" />
					</div>
					<div class="col-lg-2"><img src={% static "images/clients/partner4.png" %} alt="" />
					</div>
					<div class="col-lg-2"><img src={% static "images/clients/partner5.png" %} alt="" />
					</div>
					<div class="col-lg-2"><img src={% static "images/clients/partner6-150x100.png" %} alt="" />
					</div>
				</div>
			</div>
		</section>


		<section class="section type-4 email-susbscription">

			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<img width="200" height="180" src="images/email.png" alt="email">
					</div>

					<div class="col-lg-9">
						<h1>Subscribe to our newsletter and never miss any update!</h1>
						<p>
							Nemo enim ipsam voluptatem quia voluptas sit aspernatur sedits aut odit fugit, sed quia magni dolores eos qui ratione sequi nesciunt.
						</p>

						<form method="" action="">
							<p>
								<input type="email" name="EMAIL" placeholder="Enter your email address">
								<input type="submit" value="Let's get started!" class="btn btn-primary">
							</p>
						</form>
					</div>

				</div>
			</div>
		</section>
        -->
		<div id="jump6" class="jumper"></div>

		<!-- Contact -->
		<div class="section type-1 section-contact">
			<div class="container">
				<div class="section-headlines">
					<h4> Contact Us </h4>
					<h2>Let's have a coffee</h2>
					<p style="color: orange;">Contact through form is currently unavailable, please contact directly on Mobile numbers</p>
				</div>

				<div class="row">
					<div class="col-lg-4">
						<address>
							<div class="address-row">
								<div class="address-sign">
									<i class="icon-map-marker"></i>
								</div>
                                <div class="row">
                                    <div class="address-info">
    									<b>Nebula Pipeline</b>
    									<br>
    									8th Floor, Building 3, Lakson Square
    									<br>
    									Saddar, Karachi
    								</div>
                                </div>
                                <br>
								<div class="row">
                                    <div class="address-info">
                                        <b>Mobile</b>
                                        <br>
                                        +92 300 3128655
                                        <br>
                                        +92 300 2674713
                                    </div>
                                </div>
							</div>
						</address>
						<div class="visible-xs visible-sm">
							<br class="gap-30" />
							<hr class="gap-divider" />
							<br class="gap-30" />
						</div>
					</div>
					<div class="col-lg-7 col-lg-offset-1">
						<form role="form" action="send-message/" method="post" role="form" id="contact_form" name="contact_form">
                            {% csrf_token %}
							<div class="form-group">
								<div class="row">
									<div class="col-lg-6">
										<input type="text" class="form-control" id="name" name="name" placeholder="Your Name *">
										<br class="gap-15"/>
									</div>
									<div class="col-lg-6">
										<input type="text" class="form-control" id="email" name="email" placeholder="Your Email *">
									</div>
								</div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
							</div>
							<div class="form-group">
								<textarea class="form-control" id="message" name="message" rows="8"></textarea>
							</div>
							<button id="button-send" class="btn btn-block btn-success">
								Send Message Now
							</button>
						</form>
						<div id="success">
							Your message has been sent successfully!
						</div>
						<div id="error">
							Unable to send your message, please try later.
						</div>
					</div>
				</div>

			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<span class="centered">Copyright &copy; Nebula Pipeline. All rights reserved.</span
					</div>
				</div>
			</div>
		</footer>

		<!--Scripts-->
		<script src={% static "nebweb/scripts/jquery-1.10.2.min.js" %}></script>
		<script src={% static "nebweb/bootstrap/js/bootstrap.min.js" %}></script>
		<script src={% static "nebweb/scripts/jquery.smooth-scroll.min.js" %}></script>
		<script src={% static "nebweb/scripts/mixitup/jquery.mixitup.min.js" %}></script>
		<script src={% static "nebweb/scripts/theme.js" %}></script>
        <script src={% static "nebweb/icons/font-awesome/js/fontawesome.js" %}></script>
		<script>
			$('.nav-tabs a').click(function(e) {
				e.preventDefault();
				$(this).tab('show');
			})
            // Get the modal
            var modal = document.getElementById('myModal');

            // Get the image and insert it inside the modal - use its "alt" text as a caption
            var img = document.getElementById('myImg');
            var modalImg = document.getElementById("img01");
            img.onclick = function(){
                modal.style.display = "block";
                modalImg.src = this.src;
            }

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

		</script>

	</body>
